@import "../style/scss/variables";

.toobar__button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: $secondaryColor;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $secondaryColor;
    color: $primaryColor;
  }
}
