@import "../../styles/scss/variables";
.card_container {
  width: 270px;
  height: 470px;
  background-color: white;
  box-shadow: -1px 0px 9px 0px $secondaryColor;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 17px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  .favorite {
    align-self: flex-end;
  }

  .cartAdd {
    width: 100%;
    height: 20%;
    margin-top: 20px;
  }
  .card {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    &:hover img {
      transform: scale(1.1);
    }

    img {
      width: 190px;
      height: 190px;
      transition: all 0.3s;
    }
  }
}
