@import "../../styles/scss/variables";
@import "../../styles/scss/media";

.checkout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: $primaryColor;

  .checkout_pages {
    width: 80%;
    padding: 5%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $primaryColor;
    border-radius: 5px;
    box-shadow: 3px 3px 19px 0px $secondaryColor;
    background-color: lighten($color: $primaryColor, $amount: 5);

    @include for-phone-only {
      width: 100%;
      padding: 5px;
      height: 100%;
    }

    .stepper {
      width: 100%;
      height: 100%;

      @include for-phone-only {
        width: 100%;
        padding: 10px;
        height: 20%;
      }
    }

    .step_buttons {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      @include for-phone-only {
        width: 100%;
        height: 50%;
      }
    }
  }
}
