@import "../../styles/scss/variables";
@import "../../styles/scss/media";

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  min-height: 170px;
  background-color: $primaryColor;
  position: relative;
  bottom: 0;
  z-index: 0;
  border-top: 4px solid $secondaryColor;
  @include for-phone-only {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    @include for-phone-only {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    li {
      margin: 10px;
      color: $secondaryColor;
      font-size: 1rem;
      cursor: pointer;
    }
  }

  &::after {
    content: "";
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -1;
    background-color: darken($color: $primaryColor, $amount: 5);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }
}
