@import "../../styles/scss/variables";
@import "../../styles/scss/media";
@import "../../styles/scss/button";

.signIn-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5%;
  position: relative;
  // background-color: $primaryColor;

  .signIn-form-title {
    color: $secondaryColor;
    padding-bottom: 50px;
  }

  .label {
    color: $secondaryColor;
    align-self: flex-start;
    margin-left: 3%;
  }

  .signIn-form-input {
    width: 95%;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;

    margin-top: 10px;
    margin-bottom: 30px;
    color: $primaryColor;
    transition: 0.5s ease-in-out;

    &:hover,
    &:active {
    }
  }

  .spiner-icon {
    margin-top: 5%;
  }
}
