@import "../scss/variables";

.button {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  background-color: $secondaryColor;
  color: $primaryColor;
  transition: 0.5s ease-in-out;

  &:hover,
  &:active {
  }
}
